body {
  font-family: Tahoma;
  font-size: 14px;
  color: #444436;
}

.post {
  background-color: #eeeef6;
  padding: 10px;
  margin: 10px;
}

.title {
  display: inline-block;
  font-size: 16px;
}

.thumbnail {
  width: 100px;
  border: 2px solid white;
  margin-right: 10px;
}

.score {
  font-size: 20px;
}

.input {
  text-align: center;
}

.info {
  color: #333333;
  font-size: 12px;
}
